<div class="urdf-app">

  <!-- Main Sidebar -->
  <div class="main-sidebar">
    <button class="resetJoints" (click)="resetJoints()">Reinitialiser les angles</button>
    <button (click)="toggleSidebar('sequences')" [disabled]="manualMode">Sequences</button>
    <button (click)="toggleSidebar('angleInfo')" [disabled]="manualMode">Informations Angles</button>
    <button (click)="toggleSidebar('targetControls')" [disabled]="manualMode">Previsualisation Cible</button>
    <button (click)="toggleManualMode()">Mode manuel</button>
    <button (click)="toggleSidebar('settings')">Paramètres</button>
  </div>

  <!-- SEQUENCES SIDEBAR -->
  <div class="sidebar sequences" *ngIf="sidebars.sequences">
    <div class="sidebar-header">
      <span>Sequences</span>
      <button class="close" (click)="toggleSidebar('sequences')">✕</button>
    </div>
    <div class="sidebar-content">
      <div class="sequence-controls">
        <button (click)="startRecording()" [disabled]="recording">Enregistrer</button>
        <button (click)="stopRecording()" [disabled]="!recording">Stop</button>
        <label class="upload-seq">
          <input
            #fileInput
            type="file"
            accept=".json"
            hidden
            (change)="uploadSequence($event)"
          />
          <button type="button" (click)="fileInput.click()">
            Ajouter JSON
          </button>
        </label>
      </div>
      <div *ngIf="!recording && currentSequence && renameMode" class="rename-sequence">
        <label>
          Name: <input type="text" [(ngModel)]="nameInput" placeholder="Enter sequence name" />
        </label>
        <button (click)="saveSequenceName()">Sauvegarder</button>
      </div>
      <div class="sequences-list">
        <div *ngFor="let seq of sequences; let i = index" class="sequence-item">
          <h5>{{ seq.name }} ({{ seq.frames.length }} frames)</h5>
          <div class="actions">
            <button (click)="playSequence(seq)">Jouer</button>
            <button (click)="downloadSequence(seq)">Télecharger</button>
            <button (click)="deleteSequence(i)" [disabled]="recording">Supprimer</button>
            <button (click)="selectSequence(seq)">Details</button>
          </div>
          <ul *ngIf="currentSequence === seq" class="frame-list">
            <li *ngFor="let f of seq.frames; let idx = index">
              {{ f.time | number:'1.2-2' }}s → X: {{ f.x | number:'1.1-3' }}, Y: {{ f.y | number:'1.1-3' }}, Z: {{ f.z | number:'1.1-3' }}
              <button *ngIf="recording" class="delete-frame" (click)="deleteFrame(idx)">✕</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- ANGLE INFO SIDEBAR -->
  <div class="sidebar angle-info" *ngIf="sidebars.angleInfo">
    <div class="sidebar-header">
      <span>Informations Angles</span>
      <button class="close" (click)="toggleSidebar('angleInfo')">✕</button>
    </div>
    <div class="sidebar-content">
      <div class="angle-info-panels">
        <!-- live Model Angles -->
        <div class="panel real-angles">
          <h5>Angles Live</h5>
          <h5>ÉPAULE</h5>
          <ul>
            <li>
              <strong>Moteur 1:</strong>
              {{ getRealJoint('SH1')?.angle | number:'1.0-0' }}°
            </li>
            <li>
              <strong>Moteur 2:</strong>
              {{ getRealJoint('SH2')?.angle  | number:'1.0-0' }}°
            </li>
            <li>
              <strong>Moteur 3:</strong>
              {{ getRealJoint('SH3')?.angle  | number:'1.0-0' }}°
            </li>
          </ul>
          <h5>BRAS</h5>
          <ul>
            <li>
              <strong>Moteur 1:</strong>
              {{ getRealJoint('EL1')?.angle  | number:'1.0-0' }}°
            </li>
          </ul>
        </div>
        <!-- Real Model Angles -->
        <div class="panel real-angles">
          <h5>Angles Réels</h5>
          <h5>ÉPAULE</h5>
          <ul>
            <li>
              <strong>Moteur 1:</strong>
              {{ getRealJoint('SH1')?.angle | number:'1.0-0' }}°
            </li>
            <li>
              <strong>Moteur 2:</strong>
              {{ getRealJoint('SH2')?.angle  | number:'1.0-0' }}°
            </li>
            <li>
              <strong>Moteur 3:</strong>
              {{ getRealJoint('SH3')?.angle  | number:'1.0-0' }}°
            </li>
          </ul>
          <h5>BRAS</h5>
          <ul>
            <li>
              <strong>Moteur 1:</strong>
              {{ getRealJoint('EL1')?.angle  | number:'1.0-0' }}°
            </li>
          </ul>
        </div>
        <!-- Preview Model Angles -->
        <div class="panel preview-angles">
          <h5>Angles Prévisualisés</h5>
          <h5>ÉPAULE</h5>
          <ul>
            <li>
              <strong>Moteur 1:</strong>
              {{ getPreviewJoint('SH1')?.angle  | number:'1.0-0' }}°
            </li>
            <li>
              <strong>Moteur 2:</strong>
              {{ getPreviewJoint('SH2')?.angle | number:'1.0-0' }}°
            </li>
            <li>
              <strong>Moteur 3:</strong>
              {{ getPreviewJoint('SH3')?.angle | number:'1.0-0' }}°
            </li>
          </ul>
          <h5>BRAS</h5>
          <ul>
            <li>
              <strong>Moteur 1:</strong>
              {{ getPreviewJoint('EL1')?.angle | number:'1.0-0' }}°
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <!-- TARGET PREVIEW SIDEBAR -->
  <div class="sidebar target-controls" *ngIf="sidebars.targetControls">
    <div class="sidebar-header">
      <span>Previsualisation Cible</span>
      <button class="close" (click)="toggleSidebar('targetControls')">✕</button>
    </div>
    <div class="sidebar-content">
      <div class="xyz-inputs">
        <label>X: <input type="number" [(ngModel)]="targets.x" step="0.1" (input)="updateTargetMarker()"></label>
        <p></p>
        <label>Y: <input type="number" [(ngModel)]="targets.y" step="0.1" (input)="updateTargetMarker()"></label>
        <p></p>
        <label>Z: <input type="number" [(ngModel)]="targets.z" step="0.1" (input)="updateTargetMarker()"></label>
        <p></p>
        <button (click)="previewTarget()">Previsualisation</button>
        <button (click)="sendTarget(); unPreviewed()" [disabled]="!hasBeenPreviewed">Go</button>
        <div *ngIf="recording" class="save-movement">
          <label>
            Temps:
            <input type="number" [(ngModel)]="movementTime" step="0.1" />
          </label>
          <button (click)="saveMovement()">Sauvegarder le mouvement</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MANUAL MODE SIDEBAR -->
  <div class="sidebar manual-mode"  *ngIf="sidebars.manualControls">
    <div class="sidebar-header">
      <span>Mode Manuel</span>
    </div>
    <div class="sidebar-content manual-controls">
      <!-- Mode Toggle -->
      <div class="manual-mode-toggle">
        <button [class.active]="modeManual === 'live'" (click)="modeManual='live'">Mode Live</button>
        <button [class.active]="modeManual === 'preview'" (click)="modeManual='preview'">Mode Preview</button>
      </div>
      <!-- Joint Controls -->
      <div *ngFor="let ctrl of (modeManual==='live' ? joints : previewJoints)" class="manual-control-row">
        <label class="manual-label">{{ jointLabels[ctrl.name] || ctrl.name }}</label>
        <input type="range"
               min="-180"
               max="180"
               [(ngModel)]="ctrl.angle"
               (input)="setMotorAngle(ctrl)" />
        <input class="manual-input"
               type="number"
               min="-180"
               max="180"
               [(ngModel)]="ctrl.angle"
               (change)="setMotorAngle(ctrl)" />
      </div>
    </div>
  </div>

  <div class="sidebar settings"  *ngIf="sidebars.settings">
    <div class="sidebar-header">
      <span>Paramètres</span>
      <button class="close" (click)="toggleSidebar('settings')">✕</button>
    </div>
    <div class="sidebar-content">
      <button class="param-btn"
              [class.active]="mode==='closedLoop'"
              (click)="setClosedLoopMode()">
        Closed Loop
      </button>
      <button class="param-btn"
              [class.active]="mode==='idle'"
              (click)="setIdleMode()">
        Idle
      </button>
      <button class="calibrate-btn"
              (click)="calibrateSync()">
        Calibrate
      </button>
    </div>
  </div>

  <!-- Renderer -->
  <div #rendererContainer class="renderer-container"></div>

</div>
